In [ ]:
#Assignents_Tuple#
1.Ans - Tuple in python is the colletcion of various objects like integer,string,float etc but show the concept
        of immutability where index of the collection is not changeable. 
2.Ans - Tuple in python have two following menthods.
         i).count-- This method is used to count the number of occurrence of a object in tuple.

In [23]:
#Example#
tuple1=(1,2,3,3,4,4,7,8)
tuple1.count(3)

2

In [24]:
tuple1.count(7)

1

In [ ]:
         ii).index-- This method is used to return 1st index of value.

In [27]:
tuple1.index(2)

1

In [ ]:
          Since other operations are not allowed in tuple. Hence only these two methods are available.

In [ ]:
3.Ans - 'Set' collection of datatypes don't allow duplicates.

In [1]:
#Example#
List=[1,1,1,2,1,3,1,4,1,2,2,2,2,3,2,4,3,1,3,2,3,3,3,4,1,4,2,4,3,4,4]

In [2]:
type(List)

list

In [3]:
A=set(List)

In [4]:
A

{1, 2, 3, 4}

In [ ]:
4.Ans - Union of Sets is the collection of all the unique elements available in two or more sets.
        Ex:-

In [6]:
        A={1,2,4,6,8,10}
        B={2,4,6,8,9}

In [7]:
        A.union(B)

{1, 2, 4, 6, 8, 9, 10}

In [ ]:
        Update method is used to set with the union of itself and others.
        Ex:-

In [13]:
        B.update(A)

In [14]:
        B

{1, 2, 4, 6, 8, 9, 10}

In [ ]:
5.Ans - Dictionary is the collections of objects stored in ordered way in form of 'Key','Value' pairs
        where key will always be an unique element.
        Ex:-

In [18]:
        dict_1 = {"name" : "avilash" , "emiil_id" : "avlash@gmail.com" , "number" :456782}

In [19]:
        dict_1

{'name': 'avilash', 'emiil_id': 'avlash@gmail.com', 'number': 456782}

In [17]:
        type(dict_1)

dict

In [ ]:
6.Ans - A dictionary which contain dictionaries, known as nested dictionary.
        Ex:-

In [22]:
   myfamily = {
  "child1" : {
    "name" : "Siri",
    "year" : 2003
  },
  "child2" : {
    "name" : "Avi",
    "year" : 1999
  },
  "child3" : {
    "name" : "Lisa",
    "year" : 2008
  }
}

In [23]:
myfamily

{'child1': {'name': 'Siri', 'year': 2003},
 'child2': {'name': 'Avi', 'year': 1999},
 'child3': {'name': 'Lisa', 'year': 2008}}

In [27]:
#7.Ans - 
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [48]:
dict1['Topic']= ['Python','Machine Learning','Deep Learning']

In [53]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topic': ['Python', 'Machine Learning', 'Deep Learning']}

In [2]:
#8.Ans - 
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
#Three view Objects
#key,value and items

In [5]:
dict2['Sport']#Key

'Cricket'

In [6]:
dict2['Teams']#Key

['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [22]:
dict2.keys()

dict_keys(['Sport', 'Teams'])

In [23]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [24]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])